<div class="container-fluid">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3" style="background-color: #333; min-height: 1000px;">
            <h1>left</h1>
        </div>
        <!-- Center -->
        <div class="col-md-7 p-x-3" style="margin-top: 100px;min-height: 1000px;">
            <div class="row">
                <div class="col-md-12 m-t-3 p-a-2 text-xs-center about">
                    <h1 style="font-size: 4rem; text-shadow: 3px 3px 3px #aaa">Bankroll Me</h1>
                    <h5><i>No guilt getting what you want</i></h5>
                    <h5><i>Feel charitable paying it forward</i></h5>
                    <div class="text-xs-left m-t-3 text-justify">
                        <h2>About</h2>
                        <p>Bankroll Me is a mult-billion dollar company that just launched 2 weeks ago. The premise is simple.
                            You list the things you want, shamelessly, and wait to see if any friend or generous benefactors
                            will donate to your cause. You can pay it forward by donating to another person's cause, anonymously
                            or not.
                        </p>
                        <h2>How To</h2>
                        <p>Sign up for an account, log in, and start creating a list of things you want or need. It's that simple.</p>
                        <p>You can also search for your friends and donate to their cause. Add them to your list of friends
                            and their recent activity will populate your newsfeed.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side -->
        <div class="col-md-2" style="background-color: #333; min-height: 1000px;">
            <h1>right</h1>
        </div>
    </div>
</div>